html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Faz o main ocupar o espaço restante sem empurrar o header */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.caixa-mensagem {
    background: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.85;
    width: 100%;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #FF204E;
    margin: 10px auto;
}

.image-container img {
    width: 150px;
    max-width: 80%;
    animation: bounce 2s infinite;
}

/* Responsividade */
@media (max-width: 768px) {
    .message {
        font-size: 20px;
    }

    .image-container img {
        width: 120px;
    }
}
