/* Projetos */
.projetos-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    justify-content: center;
    margin-top: 10px;
}

.projeto {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: auto;
}

.project-card {
    background: #242424;
    padding: 5px;
    /* margin: 15px; */

    margin-top: 20px;  /* Espaço no topo */
    margin-right: 20px; /* Espaço à direita */
    margin-bottom: 20px; /* Espaço abaixo */
    margin-left: 20px; /* Espaço à esquerda */

    border-radius: 10px;
    min-width: 250px;
    text-align: center;
    opacity: 0.75;
}

/* Centraliza e mantém os textos alinhados */
.projeto h3, 
.projeto p, 
.projeto p i {
    max-width: 100%; 
    text-align: center;
    margin: 20px 10px; 
}

/* Link */
.projeto .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px; /* Ajuste conforme necessário */
    font-size: 1.75rem; /* Para aumentar o ícone */
    color: #FF204E; /* Ajuste a cor conforme necessário */
    text-decoration: none;
    /* font-size: 1.5em; */
}

.projeto .link i {
    margin: 0 5px;
}

.projeto .links-container {
    display: flex;
    gap: 15px; /* Espaçamento entre os links */
    justify-content: center;
    margin-top: auto;
}
