body {    
    background: #121212;
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.project-card {
    background: #242424;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-width: 250px;
    text-align: center;
    opacity: 0.75;
}

button {
    background: #FF204E;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    background: darkorange;
}

/* Logo Git hub */
a {
    justify-content: center;
    text-decoration: none;
    color: #FF204E;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    gap: 20px;
    font-size: 1.2em;
}

a:hover {
    color: darkorange;
}

a i {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.projeto {
    /* background: #f4f4f4; */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Garante que tudo fique centralizado */
    height: auto;
}